
.low-priority{
  background-color: green;
}

.medium-priority {
  background-color: orange;
}

.high-priority {
  background-color: red;
}

.open-status {
  background-color: orange;
}

.in-progress-status {
  background-color: blue;
}

.done-status {
  background-color: green;
}

.selected {
  border: 10px solid black;
}